<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Document</title>
    <style>
        .btn {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <%- include('nav.html')%>

    <div class="container">
        <h4 class="ml-2 my-3 text-center">오늘안에 할 수 있을까....?</h4>
        <div class="container input-group mb-2">
            <input class="form-control">
            <button class="input-group-append btn btn-danger" id="search">검색</button>
        </div>

        <script>
            $('#search').click(function(){
                console.log('?');
                window.location.replace('/search');
            })
        </script>

        <ul class="list-group">
            <% for (var i = 0; i < posts.length ; i++){ %>
            <li class="list-group-item">
                <h4>Todo name : <%=posts[i].todo%></h4>
                <p>Todo Finish Date : <%=posts[i].date %></p>
                <a href="/detail/<%=posts[i]._id%>" class="btn btn-primary" role="button">Detail</a>
                <a href="/edit/<%=posts[i]._id%>" class="btn btn-secondary" role="button">Edit</a>
                <button type="button" id="delete<%=posts[i]._id%>" data-id="<%= posts[i]._id%>" class="btn btn-danger">Remove</button>
            </li>
            <% } %>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script>
        $("#delete").click(function (e) {
            var id = e.target.dataset.id;
            var currentTarget = $(this);
            console.log(currentTarget);
            console.log(id);

            $.ajax({
                method: 'DELETE',
                url: '/delete',
                data: {
                    _id: id
                }
            }).done((result) => {
                currentTarget.parent('li').fadeOut();
            }).fail((xhr, textStatus, errorThrown) => {
                console.log(xhr, textStatus, errorThrown);
            })
        })
    </script>
</body>
</html>